*{
	margin:0px;
	padding: 0px;
}

body {
	background: url("/resources/IMG/fon.jpg") top center / 100% 100% no-repeat #000000;
}

@font-face {
	font-family: Century Gothic;
	src: url(/resources/Fonts/GOTHIC.ttf);
}

/* --------------- Шапка сайта -----------------*/

#header {
    width: 100%;
    height: 70px;
    background: url("/resources/IMG/hat.png") top center / 100% 100% no-repeat;
    box-shadow: 3px 0px 30px 3px;
    margin: 0 auto;
    /*border: 1px solid white;*/
}

#hat-menu{
    width: 100%;
    height: 70px;
    /*border: 1px solid white;*/
    position:absolute;

}

/* --------------- Логотип (Кнопка возврата) -----------------*/
.logoBut{
	/* Размер и позиция */
	width: 100px;
	height: 48px;

	border: none;
	margin-top: 10px;
	margin-left: 15px;
	border-radius: 20px;
	background: url("/resources/IMG/logo.png") top center / 100% 100% no-repeat;
	cursor: pointer;
}

.logoBut:hover, .logoBut:focus {
	background: url("/resources/IMG/logo 2.png") top center / 100% 100% no-repeat;
}
.logoBut:focus {
	outline: none;
}


/* --------------- Общие селекторы  -----------------*/

#content {
    width: calc(100% - 10% - 200px);
    height: calc(90% - (70px + 15px));
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    float: left;
    /*border: 1px solid white;*/
}

#left-menu {
    width: 200px;
    height: calc(100% - 70px);
    /* border: 1px solid white; */
    background: url("/resources/IMG/left bar.png") top center / 100% 100%;
    box-shadow: 11px 0px 35px -7px;
    float: left;
}

.tables table tr td  {   /* Отступы между строками и ячейками */
    padding: 5px;
}

td.TableLines {          /* Шрифт таблиц */
    color: white;
    font-family: Century Gothic, 'GOTHIC';
    font-size: 95%;
    margin-left: 50%;
}

.contentTable {         /* Прозрачные таблицы */
    height: 70%;
    display: inline-block;
    overflow-y: auto;
}


/* --------------- Страница MainPanel -----------------*/

#contentMainPanel {

    width: 670px;
    height: 420px;

    margin:0 auto;
    position:static;
    overflow:visible;
    margin-top:8%;

    /*border: 1px solid black;*/
}


#menu button {
	width: 120px;
	height: 170px;
	margin: 0px 20px;
	border: none;
	cursor: pointer;

	border-radius: 20px;
}

#menu button:focus {
	outline: none;
}

#user {
    width: 280px;
    height: 70px;

    float:right;
    margin-top:-62px;
    margin-right: 20px;
    /*border: 1px solid white;*/
    overflow:visible;
}

.rightBar{
    margin-top: 5px;
	margin-left: 10px;
	/*border: 1px solid black;*/
	float: right;
}

.rightBar a,p{
	text-decoration: none;
	font-size: 95%;
	color: white;
	font-family: Century Gothic, 'GOTHIC';
	text-shadow: 0 0.5px 0 rgba(0,0,0,0.8);
}

.rightBar a:hover{
	text-decoration: underline;
	color: white;
}

.userInf{
    margin-left:100%;
}

.divIconUs{
    float: right;
}

.userIcon button  {
	width: 57px;
	height: 57px;

	margin-top: 7px;

	border: none;
	border-radius: 20px;
	background: url("/resources/IMG/user1.png") top center / 100% 100% no-repeat;
}

.userIcon button:focus {
	outline: none;
}

/* --------------- Страница Личный Кабинет -----------------*/

.leftBar {
    position:relative;
    top:38%;
    left:2%;
}

.leftBar a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    word-wrap: break-word;
}

#UsLinkPA{
    pointer-events: none;
}

#exitSysPA{
    text-decoration: underline;
    color: white;
    font-weight: normal;
    font-family: Century Gothic, 'GOTHIC';
}

.userIconPA button{
    width: 65px;
    height: 65px;
    margin-bottom: 15px;

    border: none;
    border-radius: 20px;
    background: url("/resources/IMG/user1.png") top center / 100% 100% no-repeat;
}

.userIconPA button:focus {
    outline: none;
}

#personalAccountContent a {
    text-align: center;
    font-family: Century Gothic, 'GOTHIC';
    color: white;
}

#personalAccountContent li{
    list-style-type: none;
}

#personalAccountContent ul ul li {
    float: none;
}

#personalAccountContent ul ul {
    display: none;
}

.pLink{
    cursor:pointer;
}
.pEdit{
    display: none;
}
/* --------------- Модуль календарь -----------------*/

#sortingNotes{
    margin-left: 3%;
    margin-top: 20%;

}


/* --------------- Страницы модулей -----------------*/


#left-bar{
	position:absolute;
	top: 40%;
	left: 22px;
	/* border: 1px solid black; */
}

#left-bar button {
	width: 100px;
	height: 140px;
	margin: 35px 30px;

	border-radius: 20px;
	border: none;
}

#left-bar button:focus {
	outline: none;
}

#createNoteBut {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

/* --------------- Страница создание заметки -----------------*/

#contentCreateNote {
	/*border: 1px solid white;*/
	width: 50%;
	height: 70%;
	margin: 2% auto;
	position:static;
	overflow:visible;
	padding-left:10%;
}

#sendRequest {
	float: right;
	margin-left: 10px;
}

#AddMaterials {
	float: right;
}

select[id=priority],
select[id=typeNote],
select[id=accessNote],
input[id=dateNote],
input[id=dateEnd],
input[id=timeStart],
input[id=timeEnd]{

	font-family: Century Gothic, 'GOTHIC';
    font-weight: bolder;
}

/* --------------- Страница просмотра заметки -----------------*/

.contentShowNote {
    margin-top: 20px;
}

.contentShowNote t{
    color: white;
    font-family: Century Gothic, 'GOTHIC';
}

.showNotesHeader{
    font-weight: bolder;
}
/* --------------- Страница регистрации -----------------*/

#contentReg {
	/*border: 1px solid white;*/
    width: 600px;
    height: 500px;
    margin:0 auto;
    position:static;
    overflow:visible;
    margin-top:2%;
    padding-left:10%;
}


h1.header1 {
	text-shadow: 0 1px 0 rgba(0,0,0,1);
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: -150px;
    text-align: center;
}

.infMess h2 {
/*Этот тег используется в отображении месяца в календаре*/
    width: 40%;
    text-shadow: 0 1px 0 rgba(0,0,0,1);
    left:50%;
    top:50%;
    margin-top: -10px;
    margin-left: -20%;
    position: fixed;
    text-align: center;
    color: white;
    font-family: Century Gothic, 'GOTHIC';
}

form input[type=text],
form input[type=password],
form input[type=tel] {
	font-size: 90%;

	padding: 1px 0px 1px 0px;
}

form select{

	font-size: 90%;

	padding: 2.9px 0px 2.9px 0px;
}


form button[name=reg] {
	width: 150px;
	height: 35px;
    position: static;

	margin-top: -2px;
    margin-left: 200px;

	border: none;
	border-radius: 15px;
	background: url("/resources/IMG/but reg.png") top center / 100% 100%;
}

form button[name=reg]:focus {
	outline: none;
}

span.ErrorMessage {
	font-weight: bolder;
    color: red;
    background: rgba(255, 255, 255, 0.5);
}

input[type="text"],
input[type="tel"],
input[type="password"],
select[id=group]{

	font-family: Century Gothic, 'GOTHIC';
 }

input[type="date"] {
	appearance: none;
	-webkit-appearance: none;
	font-family: Century Gothic, 'GOTHIC';
	font-weight: bolder;
	font-size: 15px;
	border:1px solid #ecf0f1;
	background:#ecf0f1;
	display: inline-block !important;
	visibility: visible !important;
}

/*Стиль для флажков выбора пола*/

.radio {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.radio + label {
	cursor: pointer;
}
.radio:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio:not(checked) + label {
	position: relative;
	padding:  0 0 0 25px;
}
.radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #235dd4;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(227, 255, 10, 0.19);
}




/* --------------- Страница забыли пароль -----------------*/

#contentForgot {
	width:300px; /*Ширина блока*/
	height:200px; /*Высота блока*/
	margin:0 auto;
	overflow:visible;
	left:50%;
	top:50%;
	margin-top: 15%; /*Смещаем блок на половину высоты вверх*/


	/*border: 1px solid white;*/
}

#contentForgot input{
    padding: 4px 0px 4px 0px;
}


p.forgot {
	text-decoration: none;
	font-weight: bolder;
	font-size: 95%;
	color: white;
	font-family: Century Gothic, 'GOTHIC';
}

.forgot {
	margin-top: 30px;
}

.forgotEmail {
	margin-top: 15px;
}

.forgotBut {
	/* Size and position */
	width: 50%;
	height: 18%;

	border: none;
	border-radius: 10px;
	margin-left: -5px;
	margin-top: 10px;
	background: url("/resources/IMG/next1.png") top center / 100% 100% no-repeat;
	cursor: pointer;
}
.forgotBut:hover,
.forgotBut:focus {
	background: url("/resources/IMG/next2.png") top center / 100% 100% no-repeat;
	outline: none;
}


/* --------------- Страница Администратора -----------------*/

h3.iBut {
	text-decoration: underline;
}


.tab {
    /*     border: 1px solid white; */
    margin: 2% auto;

    /*display: inline-block;*/
                                    /* margin: auto не работает с display:inline-block; */
}

.search {
    margin-bottom: 30px;
}

#tableT_filter{
    margin-bottom: 20px;
}

#tableS_filter{
    margin-bottom: 20px;
}

#tableD_filter{
    margin-bottom: 20px;
}

.dataTables_filter input{
    padding: 2px;
}

#listOfTeachers{
    /*background-color: transparent;*/
    /*border: none;*/
    /*color: white;*/
    /*font-weight: bolder;*/
    /*resize: none;*/
}

/* --------------- Страница Администратора. Кнопки переключения -----------------*/
#adminButPanel {
    margin: -35px 8px 5px 0;
}

#contentAdminTeachers, #contentAdminStudents, #contentAdminDisciplines,
#addTeacher, #addStudent, #addDiscipline{
    display: none;
}

.tabs_menu {
    display: table-row;
}

.tabs_menu li {
    display: table-cell;
}

.tabs_menu li a{
    margin-left: 7px ;
    text-decoration: none;
}

.tabs_menu .active {
    text-decoration: underline;
    background: rgb(218, 217, 217);
}

.tableAdm{
	color: white;
	font-family: Century Gothic, 'GOTHIC';
}

/* --------------------------------*/

.adminTables table tr td    {
    padding: 3px 4px 5px 30px;
}

.adminTables table th    {
	padding: 3px 4px 5px 30px;
	color: white;
	font-family: Century Gothic, 'GOTHIC';
	text-shadow: 0 0.5px 0 rgba(0,0,0,0.4);
}

.adminTables h3 {
    text-shadow: 0 0.5px 0 rgba(0,0,0,0.3);
}

.adminLeftMenu {
    float: left;
    margin-left: 20px;
    margin-top: -10px;
    color: white;
    font-family: Century Gothic, 'GOTHIC';
}
.adminRightMenu{
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

#addTeacher{
    margin: 2% auto;
}

.addButtons {
    float: right;
    margin-left: 10px;
}

.tab h2 {
    margin-bottom: 15px;
}


/*Стиль для чекбоксов*/

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 44px;
    height: 22px;
    border-radius: 13px;
    background: #e75770;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background: #57c060;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 23px;
}
/* Показываем получение фокуса. */
.checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

/* Кнопки панели управления */

.iBut {
    display: inline-block;
    *display: inline;
    padding: 3px 10px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 11px;
    /*font-weight: bold;*/
    line-height: 20px;
    *line-height: 20px;
    color: #444444;
	font-family: Century Gothic, 'GOTHIC';
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f1f1f1;
    *background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f1f1f1', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.1);
	text-decoration: underline;
}

.iBut:hover {
    background-color: #e5e5e5;
    background-image: none;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.iBut:active {
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #e5e5e5;
    *background-color: #e5e5e5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dddddd), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #dddddd, #e5e5e5);
    background-image: -o-linear-gradient(top, #dddddd, #e5e5e5);
    background-image: linear-gradient(to bottom, #dddddd, #e5e5e5);
    background-image: -moz-linear-gradient(top, #dddddd, #e5e5e5);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dddddd', endColorstr='#e5e5e5', GradientType=0);
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 5px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/resources/IMG/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-remove {
    background-position: -312px 0;
}

.icon-refresh {
    background-position: -240px -24px;
}

/*Поиск*/
.icon-search {
	background-position: -48px 0;
}

.icon-edit {
	background-position: -96px -72px;
}

.icon-folder-open {
	width: 16px;
	background-position: -408px -120px;
}

.icon-ok {
    background-position: -288px 0;
}

.icon-briefcase {
    background-position: -432px -144px;
}

.icon-user {
    background-position: -168px 0;
}

.icon-plus {
    background-position: -408px -96px;
}

.icon-book {
    background-position: -48px -48px;
}

.icon-hdd {
    background-position: 0 -144px;
}

/* --------------- Скролл панель (Админ) -----------------*/

.contentTable::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

.contentTable::-webkit-scrollbar-track {
    background-color:#fdf8fe
}

.contentTable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#a04e96;
}

.contentTable::-webkit-scrollbar-thumb:hover{
    background-color:#b98cc2;
}

.contentTable::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

.contentTable::-webkit-scrollbar{
    width: 15px;
}
