body {
    background: url("../IMG/fon.jpg") top center / 100% 100% no-repeat #000000;

}

#header-welcome{
    width: 700px;
    height: 250px;
    background: url("../IMG/logo wel.png") top center/750px 280px no-repeat;
     /*border: 1px solid black;*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-350px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:-335px; /*Смещаем блок на половину высоты вверх*/
}

#line{
    width: 680px;
    height: 50px;
    background: url("../IMG/line.png")  center no-repeat;
    /*border: 1px solid black;*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-340px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:45px; /*Смещаем блок на половину высоты вверх*/
}

#content{
    width: 200px;
    height: 250px;
    /*margin: 40px auto;*/
    /*border: 1px solid black;*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-100px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:-90px; /*Смещаем блок на половину высоты вверх*/
}

#left-menu {
    width: 10%;
    height: 35%;
    float:left;
    margin-top:-500px;
    margin-left:600px;
}

#right-menu {
    width: 10%;
    height: 35%;
    float:right;
    margin-top:-500px;
    margin-right:600px;
}


@font-face {
    font-family: Century Gothic;
    src: url(/resources/Fonts/GOTHIC.ttf);
}


.form input[type=text],
.form input[type=password] {
    font-size: 100%;

    padding: 4px 0px 4px 0px;
}

.buttLog {
    width: 75%;
    height: 15%;

    border: none;
    border-radius: 10px;
    background: url("/resources/IMG/log.png") top center / 100% 100% no-repeat;
    cursor: pointer;
}
.buttLog:hover,
.buttLog:focus {
    background: url("/resources/IMG/log 2.png") top center / 100% 100% no-repeat;
    outline: none;
}

.button1  {
    /* Size and position */
    width: 75%;
    height: 15%;
    margin-top: 15px;

    border: none;
    border-radius: 10px;
    background: url("/resources/IMG/log.png") top center / 100% 100% no-repeat;
    cursor: pointer;
}
.button1:hover,
.button1:focus {
    background: url("/resources/IMG/log 2.png") top center / 100% 100% no-repeat;
    outline: none;
}

.button2 {
    width: 75%;
    height: 15%;

    border: none;
    border-radius: 10px;
    background: url("/resources/IMG/exit1.png") top center / 100% 100% no-repeat;
    cursor: pointer;
}

.button2:hover,
.button2:focus {
    background: url("/resources/IMG/exit2.png") top center / 100% 100% no-repeat;
    outline: none;
}

a {
    text-decoration: none;
    font-size: 100%;
    color: white;
    font-family: Century Gothic, 'GOTHIC';
    text-shadow: 0 0.5px 0 rgba(0,0,0,0.8);
}
a:hover{
    text-decoration: underline;
}



/* *{
	margin:0px;
	padding: 0px;
}
*/

